extends layout

block main 
      // section nos service
      section.container
        h1.container__title Nos Service        
        div.container__row        
          div.container__row__item
            div 
              i(class="fa-solid fa-display")
            h2 Web & Mobile Apps
            p 
              |Lorem ipsum dolor sit amet, nsectetur adipisicing elit, sed do
              |eiusmod empor incididunt ut labore et dolore            

          div.container__row__item
            div 
              i(class="fa-solid fa-laptop-code")
            h2 Web & Mobile Apps
            p 
              |Lorem ipsum dolor sit amet, nsectetur adipisicing elit, sed do
              |eiusmod empor incididunt ut labore et dolore

          div.container__row__item 
            div 
              i(class="fa-solid fa-search")            
            h2 SEO Marketing
            p 
              |Lorem ipsum dolor sit amet, nsectetur adipisicing elit, sed do
              |eiusmod empor incididunt ut labore et dolore
            