* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #999;
}

header {
  width: 100%;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 100;
  background-color: #d9edf7;
}

.header__div__logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

nav ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

nav ul li a:hover {
  color: blue;
}

footer {
  margin-top: 20px;
  padding: 30px;
  background: #f1f1f1;
  text-align: center;
  font-size: 14px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.footer__container__socialIcon {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

footer > hr {
  border: 1px solid #999;
  width: 100%;
}

.footer__container__socialIcon > a {
  color: #414040;
  font-size: 20px;
}

/* Our Service */

.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 25vh auto;
}

.container__title {
  margin: auto auto 2rem auto;
}

.container__row {
  width: 100%;
  max-width: 888px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row: auto;
  gap: 0.8rem;
}

.container__row__item {
  background-color: #fff;
  border: 1px solid #999;
  border-radius: 0.5rem;
  padding: 1.8rem 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.fa-solid {
  color: #999;
  font-size: xx-large;
}

/* contact */
.containerContact {
  width: 50vw;
  max-width: 888px;
  border: 1px solid grey;
  border-radius: 1rem;
  padding: 2rem;
  margin: 5rem auto auto auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
}

.containerContact__containerTitle {
  text-align: center;
}

.containerContact__paragr {
  color: #999;
}

.containerContact__form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form__block {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 20px;
}

.form__block input,
textarea {
  padding: 0.8rem;
  border: 1px solid gray;
  border-radius: 0.3rem;
}

button {
  padding: 0.8rem 2rem;
  background-color: coral;
  border: none;
  border-radius: 0.3rem;
  width: fit-content;
  font-weight: 700;
  color: white;
  letter-spacing: 2px;
  font-size: 16px;
}

button:hover {
  background-color: rgb(250, 108, 57);
  cursor: pointer;
}

/* Sections */
.section {
  padding: 2rem 0;
  text-align: center;
}

.section h2 {
  font-size: 2em;
  margin-bottom: 30px;
}

.home {
  height: 100vh;
  background-image: url("./assets/4.jpg");
  background-size: cover;
  background-position: center;
  color: white;
  position: relative;
}

.home_content {
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 2rem;
  width: 25%;
  border-radius: 2rem;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
}

.about {
  background-color: #f4f4f9;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.aboutMe {
  display: flex;
  justify-content: center;
  gap: 1rem;
  max-width: 888px;
}

.aboutMe_card {
  background-color: transparent;
  width: 25%;
  max-width: 218px;
}

.aboutMe img {
  width: 60%;
  min-width: 200px;
  border-radius: 0.3rem;
}

.aboutMe_present {
  width: 75%;
  max-width: 654px;
}

.aboutMe_present p {
  text-align: justify;
  color: #2a3749;
  font-size: medium;
}
.competences {
  width: 100%;
  max-width: 888px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1.8rem;
}
.competences_items {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.competence_item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.competence_item img {
  position: static;
  width: 3rem;
  height: 3rem;
}

.work {
  background-color: #e0e0e0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.work > h2 {
  margin-bottom: 20px;
}

.work > p {
  font-size: x-large;
  margin-bottom: 30px;
}
.projects {
  width: 100%;
  max-width: 888px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: 0.5rem;
}

.project_item {
  padding: 1rem 1rem 0 1rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
}

.project_item img {
  width: 100%;
  border-radius: 0.5rem;
}

.title {
  margin: 10px 0;
  font-size: small;
}

.description {
  margin: 5px 0;
  font-size: small;
  color: #504f4f;
  text-align: justify;
}

.resume {
  background-color: #d9edf7;
}

.contact {
  background-color: #f9f9f9;
}

/* closed page */
.closed {
  margin-top: 3rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
}

.closed > i {
  font-size: 6rem;
}
